.card-container {
    /* width: 10rem;
    height: 10rem; */
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.card-first {
    /* width: 23.5rem;
    height: 23.5rem; */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
