.card-container {
    grid-column: span 1;
    grid-row: span 1;
    border: 1px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.card-container.card-hollow {
    background-color: #aacccc;
}

.card-first {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.card-inner {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-hollow .card-inner {
    scale: 0.9;
    border: 1px solid;
}

.card-select {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
}

.selected > .card-inner > .card-overlay {
    opacity: 0.15;
}

.card-overlay:hover {
    cursor: pointer;
    opacity: 0.45;
}
